<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Primer Post:</mat-card-title>
        <mat-card-subtitle>Viaje a Marineford</mat-card-subtitle>
        <img mat-card-xl-image src="/../assets/marineford.jpg" width="600" height="800" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="margin-top">
        <p>El arco de Marineford es el 22ª arco del manga de One Piece y el penúltimo arco de la saga de la Guerra en la Cumbre. Transcurre inmediatamente después del Arco de Impel Down.
            Al no poder llegar hasta Ace antes de que fuera trasladado a Marineford, Luffy junto con los fugitivos de Impel Down (entre los que se encontraban Emporio Ivankov, Inazuma, Crocodile, Jinbe, Galdino, Daz Bonez y Buggy) se dirigen a Marineford para que Luffy pueda rescatar a su hermano. Sin embargo, las probabilidades para rescatarlo se dividen a la mitad con el enfrentamiento de la banda de Barbablanca, uno de los Cuatro Emperadores, contra los Siete Señores de la Guerra del Mar y la Marina.</p>
             
    </mat-card-content >
    <mat-divider class="margin-top"></mat-divider>
    <mat-card-actions>
        <button mat-button>ME GUSTA</button>
        <button mat-button>COMPARTIR</button>
      </mat-card-actions>

  </mat-card >
  
  <mat-card class="example-card" class="margin-top">
    <mat-card-header >
      <mat-card-title-group>
        <mat-card-title >Segundo Post:</mat-card-title>
        <mat-card-subtitle>Arco de Arabasta</mat-card-subtitle>
        <img mat-card-xl-image src="/../assets/arabasta.jpg" width="550" height="250">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="margin-top">
        <p>El arco de Arabasta es el décimo primer arco argumental del popular manga y anime japonés de la serie One Piece. Así mismo, es el quinto arco argumental de la saga de Arabasta.
            Los Piratas de Sombrero de Paja llegan por fin, junto a Vivi y Karoo, al Reino de Arabasta, y comienzan su recorrido por el desierto para poder llegar a la ciudad de Alubarna, antes de que una guerra masiva estalle entre el Ejército Real y el Ejército Rebelde. Sin embargo el verdadero causante de la guerra, Mr. 0 (el Guerrero del Mar Crocodile) y el resto de los agentes oficiales de Baroque Works harán todo lo posible para impedir que los Piratas de Sombrero de Paja y Vivi interfieran en su plan de conquistar Arabasta.
        </p>
    </mat-card-content>
    <mat-divider class="margin-top"></mat-divider>
    <mat-card-actions>
        <button mat-button>ME GUSTA</button>
        <button mat-button>COMPARTIR</button>
      </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" class="margin-top">
    <mat-card-header >
      <mat-card-title-group>
        <mat-card-title >Tercer Post:</mat-card-title>
        <mat-card-subtitle>Arco de Skypia</mat-card-subtitle>
        <img mat-card-xl-image src="/../assets/skypia.jpg" width="550" height="250">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="margin-top">
        <p>El Arco de Skypiea es el 13º arco y el 2º y ultimo de la Saga de la isla del Cielo del Manga y Anime One Piece. Los Piratas del Sombrero de Paja finalmente llegan a la isla del cielo Skypiea, es la sexta isla visitada por los Piratas de Sombrero de Paja en el Grand Line. La isla se divide principalmente en dos partes, la Isla de los Ángeles, en la cual viven los ángeles y Upper Yard, otra isla la cual es en realidad una gran parte de Jaya, en donde se ubicaba la Ciudad de Oro. Ademas los Piratas del Sombrero de Paja deberán enfrentarse al Autoproclamado Dios Enel, quien amenaza con destruir toda Skypiea.
        </p>
    </mat-card-content>
    <mat-divider class="margin-top"></mat-divider>
    <mat-card-actions>
        <button mat-button> ME GUSTA</button>
        <button mat-button>COMPARTIR</button>
      </mat-card-actions>
  </mat-card>